node_modules
__pycache__
db.sqlite3
.*.swp
.DS_Store
.classpath
.project
.settings
java/target/

client.key
client.req

c/libvcmylicense.so*
c/test_save_req
c/test_verify_cert

build/
dist/
vcmy_license.egg-info/
