{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

    {% block header-scripts %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      {% block body%}{% endblock %}

    <script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
    <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'feather-icons/dist/feather.min.js' %}"></script>

    {% block body-scripts %}{% endblock %}

    <script>
    $(document).ready( function () {
        feather.replace()
    });
    </script>
  </body>
</html>
